<!DOCTYPE html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href='https://fonts.googleapis.com/css?family=Fira+Mono' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400italic,700' rel='stylesheet' type='text/css'>
<style>
html, body {
  font-family: 'Fira Sans', sans-serif;
}

a {
  color: inherit;
}

#message {
  margin: 10px 0;
}

.lose {
  color: red;
}

.win {
  color: green;
}

#css {
  white-space: pre;
  font-family: 'Fira Mono', monospace;
  font-size: 2rem;
  cursor: pointer;
}
</style>
<title>It&rsquo;s a CSS mystery!</title>
<h1>It&rsquo;s a CSS mystery!</h1>
<p>Can you help fix this broken CSS?</p>
<p><strong>Click or tap</strong> on the error in the CSS below.</p>
<div id="css"></div>
<div id="message"></div>
<h2>Clues</h2>
<p>This is what the page looks like with the above CSS:</p>
<div id="broken"></div>
<p>This is what the page <em>should</em> look like:</p>
<div id="fixed"></div>
<p>You can also use your <a href="http://www.wickedlysmart.com/hfjsconsole/">browser console</a> for more clues.</p>
<script type="text/template" id="lose-message">
<div class="lose">
Nope, that is not broken. Try again!
</div>
</script>
<script type="text/template" id="win-message">
<div class="win">
Yay, you found the broken CSS in <%- time %> seconds
<% if (numTries == 1) { %>
  on your first try!
<% } else { %>
  after <%- numTries %> attempts!
<% } %>

<p><a href="">Try another mystery.</a></p>
<% if (challenge < NUM_CHALLENGES) { %>
<p><a href="?challenge=<%- challenge+1 %>">Try a <strong>harder</strong> mystery.</a></p>
<% } %>
</div>
</script>
<script src="vendor/jquery.js"></script>
<script src="vendor/underscore.js"></script>
<script src="main.js"></script>
